<?xml version="1.0" encoding="utf-8" ?>
<Advertisements xmlns="http://schemas.microsoft.com/AspNet/AdRotator-Advertisement-File-1.2">

<Ad xmlns="">
<Keyword>AdventureWorks</Keyword>
<ImageUrl>~/images/1.jpeg</ImageUrl>
<NavigateUrl>http://www.adventure-works.com</NavigateUrl>
<AlternateText>Ad for Adventure Works Web site</AlternateText>
<Impressions>10</Impressions>
</Ad>

<Ad xmlns="">
<Keyword>Contoso</Keyword>
<ImageUrl>~/images/2.jpeg</ImageUrl>
<NavigateUrl>http://www.contoso.com/</NavigateUrl>
<AlternateText>Ad for Contoso Ltd. Web site</AlternateText>
<Impressions>10</Impressions>
</Ad>

<Ad xmlns="">
<Keyword>Northwind</Keyword>
<ImageUrl>~/images/3.jpeg</ImageUrl>
<NavigateUrl>http://http://www.northwindtraders.com</NavigateUrl>
<AlternateText>Ad for Northwind Traders Web site</AlternateText>
<Impressions>50</Impressions>
</Ad>

</Advertisements>